---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: Charter, Georgia, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html {
  --s: 66px; /* control the size*/
  --c1: #7bb0a8;
  --c2: #a7dbab;
  
  --_c: var(--c1) calc(100% - var(--s)/2) 99%,#0000;
  --_g: var(--s),#0000 calc(99% - var(--s)/2),var(--_c);
  background:
    radial-gradient(var(--s) at 100% var(--_g)),
    radial-gradient(calc(var(--s)/4) at 50% calc(100%/3),var(--_c)) var(--s) 0,
    radial-gradient(var(--s) at   0% var(--_g)) 0 calc(3*var(--s))
    var(--c2);
  background-size: 
    calc(2*var(--s)) calc(9*var(--s)/4),
    calc(2*var(--s)) calc(3*var(--s)/4);
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "site", "work", "blog", "post", "404";
